.gameboard-title {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.gameboard-row {
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    justify-content: center;
}